################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SustainabilityShipping/.vs
/SustainabilityShipping/.vs/SustainabilityShipping
/SustainabilityShipping/SustainabilityShipping/.vs
/SustainabilityShipping/SustainabilityShipping/obj
/SustainabilityShipping/SustainabilityShipping/bin
/SustainabilityShipping/CromulentBisgetti.ContainerPacking/.vs
/SustainabilityShipping/CromulentBisgetti.ContainerPacking/obj
/SustainabilityShipping/CromulentBisgetti.ContainerPacking/bin
